@font-face {
  font-family: "FiraCode-Regular";
  src: url(fonts/FiraCode-Regular.woff2);
}

@font-face {
  font-family: "FiraCode-bold";
  src: url(fonts/FiraCode-Bold.woff2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: #151515;

  font-family: "FiraCode-Regular";
  font-size: 1rem;
}

body {
  min-height: 100svh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f5f5f5;
}

h1 {
  font-family: "FiraCode-bold";
  font-size: 2rem;
}

#game-board {
  width: 400px;
  height: 400px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background-color: #cdc1b5;
  border: 10px solid #bbada0;
}

.tile {
  width: 95px;
  height: 95px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 5px solid #bbada0;

  font-size: 24px;
}

/* Style for numbered tiles */
.t2 {
  background-color: #eee4da;
  color: #727371;
}

.t4 {
  background-color: #ece0ca;
  color: #727371;
}

.t8 {
  background-color: #f4b17a;
  color: #fff;
}

.t16 {
  background-color: #f59575;
  color: #fff;
}

.t32 {
  background-color: #f57c5f;
  color: #fff;
}

.t64 {
  background-color: #f65d3b;
  color: #fff;
}

.t128 {
  background-color: #edce71;
  color: #fff;
}

.t256 {
  background-color: #edcc63;
  color: #fff;
}

.t512 {
  background-color: #edc651;
  color: #fff;
}

.t1024 {
  background-color: #eec744;
  color: #fff;
}

.t2048 {
  background-color: #ecc230;
  color: #fff;
}

/* Style for tiles greater than 2048 */
.t-greater {
  background-color: #fe3d3d;
  color: #fff;

  text-align: center;
  word-break: break-all;
}

.pop-up {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;

  background-color: rgba(21, 21, 21, 0.5);
}

.pop-up-content {
  padding: 20px;

  background-color: #f5f5f5;
  border: 5px solid #bbada0;

  text-align: center;
}

.pop-up-btn {
  margin-top: 20px;

  display: flex;
  justify-content: space-around;
}

.pop-up button {
  margin: 0px 20px;
  padding: 10px;

  background-color: #eee;
  border: 1px solid #cdc1b5;

  cursor: pointer;
}

.pop-up button:hover,
#new-game-btn:hover {
  background-color: #cdc1b5;
  color: #f5f5f5;
}

.pop-up button:active,
#new-game-btn:active {
  background-color: #bbada0;
  border: 1px solid #bbada0;
  color: #f5f5f5;
}

.deactive {
  display: none;
}

#new-game-btn {
  margin-top: 10px;
  padding: 10px;

  background-color: #eee;
  border: 1px solid #cdc1b5;

  cursor: pointer;
}
